.FilterBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 1%;
    padding: 0.2%;
    color: burlywood;

}

.Selector {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    margin: 2%;
}

.SelectOrder {
    font-size: 25px;
    background: transparent;
    border: none;
    border-bottom: 3px solid white;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    width: 200px;
}

.SelectOrder option {
    background: #ffffff;
    color: rgb(133, 104, 65);
    transition: background 0.3s;
}

/* Estilos para las opciones al pasar el mouse sobre ellas */
.SelectOrder option:hover {
    background: rgb(145, 110, 63);
    color: #ffffff;
}

.SearchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: auto;
    height: 100%;
    align-content: center;
}

.searchInput {
    display: flex;
    width: 100%;
    border: none;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    transition: .5s ease-in-out all;
    margin-bottom: 10px;
    margin-left: 5px;
    border-bottom: 4px solid #f2f2f2;
}

.searchInput:focus {
    border-bottom: 3px solid #f2f2f2;
    transform: scale(1.03);
}

select option:checked {
    background-color: #b0e0e6;
    /* Cambia el color de fondo como prefieras */
}