/* =================================================================
    * FONTS LIST*
===================================================================*/
/*Prosto One*/
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

@font-face {
  font-family: Olivia;
  src: url(./assets/tipografia/Olivia.ttf) format(truetype);
}

@font-face {
  font-family: Ratatouille;
  src: url(./assets/tipografia/Ratatouille.otf) format(opentype);
}

@font-face {
  font-family: Braxton;
  src: url(./assets/tipografia/Braxton.otf) format(opentype);
}

.App {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}


body {
  font-family: Ratatouille, serif;
}